{% load static %}
{% load utilidades %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="#" />
    <meta name="designer" content="#" />
    <meta name="description" content="#" />
    <meta name="keywords" content="#" />
    <title>Turbodiaz {% block title %}{% endblock %}</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Bootstrap versión estable -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
        <!-- Bootstrap versión estable -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link href="{% static 'css/styles.css' %}?id={{ csrf_token }}" rel="stylesheet" />
    <link href="{% static 'css/main.css' %}?id={{ csrf_token }}" rel="stylesheet" />
    <link href="{% static 'css/jquery.alerts.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free-5.15.4-web/css/all.css' %}" />
    <!--PaARARESEÑAS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    {% block bloques_css %}{% endblock %}
</head>
<body>
    <!-- Whatsapp -->
        <audio id="sonido">
            <source src="{% static 'audio/WhatsApp.mp3' %}" type="audio/mp3">
            Tu navegador no admite audio HTML5.
        </audio>
        <a href="https://api.whatsapp.com/send?phone=56950514962&text=Turbodiaz:Hola%20habla%20con%20nosotros!" 
        class="float whatsapp-turbodiaz" 
        title="Estamos disponibles. Cuéntanos en qué te podemos ayudar!!!" 
        target="_blank" 
        data-aos="fade-down-left" 
        data-aos-duration="3000" 
        onclick="playSound()">
            <div class="loader whatsapp-turbodiaz-loader"></div>
            <i class="fab fa-whatsapp my-float whatsapp-turbodiaz-icon"></i>
        </a>
    <!-- Whatsapp fin -->
    <!-- Navigation -->
    <nav class="navbar">
        <div class="navbar-container">
            <div class="logo">
                <img src="{% static 'images/favicon.png' %}" alt="Logo" />
                <a href="{% url 'menu' %}" class="logo-text">Turbodiaz</a>
            </div>
            <div class="menu-toggle" id="menuToggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="nav-links" id="navLinks">
                <li><a href="{% url 'home_inicio' %}" class="nav-link">Productos</a></li>
                <li><a href="{% url 'servicios' %}" class="nav-link">Servicios</a></li>
                {% if user.is_authenticated %}
                <!-- Example single danger button -->
                <div class="btn-group" style="color: #003eb1;">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Compras & Datos
                    </button>
                    <ul class="dropdown-menu" style="color: red;">
                    <li><a class="dropdown-item" href="{% url 'datos' %}">Mis datos</a></li>
                    <li><a class="dropdown-item" href="{% url 'mis_productos' %}">Mis compras</a></li>

                    <li><a class="dropdown-item" href="{% url 'cambiar_password' %}">Cambiar Contraseña</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="javascript:void(0)"  onclick="salir('{% url 'acceso_salir' %}');">Cerrar Sesión</a></li>
                    </ul>
                </div>
                {% else %}
                <li><a href="{% url 'acceso_login' %}" class="nav-link">Iniciar sesión</a></li>
                {% endif %}
                <li>
                    <button class="cart-button" onclick="window.location='{% url 'carro_inicio' %}';">
                        <i class="bi-cart-fill"></i> Carrito
                        {% if user.is_authenticated %}
                        <span class="cart-count">{{ request.session.users_metadata_id|getCuantosItemsHayEnElCarrito|safe }}</span>
                        {% endif %}
                    </button>
                </li>
            </ul>
            <!-- Botón del Chatbot -->
            <div class="chatbot-icon">
                <button id="openChatbot" class="btn btn-chatbot">
                    <i class="fas fa-robot"></i> Chat
                </button>
            </div>  
        </div>
    </nav>
    <!--COHERE-->
    <div id="chatbotContainer" class="chatbot-container hidden">
        <div class="chatbot-header">
            <h5>Turbo Bot</h5>
            <button id="resetChatbot" class="reset-chatbot">↻</button>
            <button id="closeChatbot" class="close-chatbot">&times;</button>
        </div>
        <div class="chatbot-body">
            <div id="chatMessages" class="chat-messages"></div>
            <form id="chatForm">
                <input type="text" id="userInput" placeholder="Escribe tu pregunta sobre turbos..." required />
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
     
    {% block carousel_content %}
    <!-- Carrusel -->
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/info_pagar.jpg'%}" class="d-block w-100" width="800" height="370" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="background-color: #003eb1; border-radius: 5px;">Productos y calidad al alcance de tus manos."</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/home_servicios.jpeg' %}" class="d-block w-100" width="800" height="370" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="background-color: #003eb1; border-radius: 5px;">Soluciones confiables, diseñadas para ti</h5>

                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/home_servicios.jpeg' %}" class="d-block w-100" width="800" height="370" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="background-color: #003eb1; border-radius: 5px;"> Puedes pagar con webpay o transferencia bancaria por whatsapp.</h5>
                    <p style="background-color: #003eb1; border-radius: 5px;">Con envios a todo chile.</p>
      
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <section id="t-kit" style="background-color: #f8f9fa; padding: 0px 20px; min-height: 30vh; text-align: center;">
        <h2 style="font-size: 2.5em; font-weight: bold; color: #333; margin-bottom: 10px; text-transform: uppercase;">
            Ventas de Kit para Turbos
        </h2>
        <p style="font-size: 1.2em; color: #555; margin-top: 10px;">
            Encuentra los mejores kits de reparación y accesorios para tus turbos, con calidad garantizada.
        </p>
    </section>
    {% endblock %}
    <!-- Contenido -->
    {% block content %}{% endblock %}

    
    <!-- /Contenido -->
        <!--Footer-->
        <footer class="footer-section">
            <div class="footer-container">
                <div class="footer-logo">
                    <img src="../../assets/images/favicon.png" alt="Auto Expertos" class="logo">
                    <p>Potenciamos tu motor con precisión y confianza.</p>
                    <div class="payment-methods">
                        <img src="{% static 'images/webpay.png' %}" alt="Webpay">
                    </div>
                </div>
        
                <div class="footer-links">
                    <div>
                        <h4>Portal clientes</h4>
                        <a href="{% url 'acceso_login' %}" class="button">Iniciar sesión</a>
                        
                        <a href="{% url 'acceso_registro' %}" class="button">Registrarse</a>
                    </div>
                    <div>
                        <h4>Atención al cliente</h4>
                        <a href="tel:+56999463203">+569 99463203/a>
                        <a href="mailto:raul@turbodiaz.cl">turbos@TurboBoost Pro</a>
                    </div>
                    <div>
                        <h4>Páginas</h4>
                        <a href="#">Inicio</a>
                        <a href="{% url 'servicios' %}" class="button">Servicios</a>
                        <a href="{% url 'home_inicio' %}">productos</a>
                        <a href="{% url 'nosotros' %}">Nosotros</a>
                        <a href="{% url 'dondeestamos' %}">Donde estamos</a>
                    </div>
                    <div>
                        <h4>Ayuda</h4>
                        <a href="{% url 'centro_de_ayudas' %}" class="button">Centro de ayuda</a>
                        <a href="{% url 'Pago_Seguro' %}" class="button">Pago seguro</a>
                        <a href="{% url 'Garantia' %}" class="button">Garantía</a>
                        <a href="{% url 'terminos' %}">Términos y condiciones</a>
                    </div>
                </div>
            </div>
        
            <div class="footer-bottom">
                <p>&copy; 2024 TurboBoost Pro. Todos los derechos reservados </p>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </footer>       

    <!-- Scripts -->
     
    <script src="{% static 'js/jquery-2.0.0.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/jquery.alerts.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}?id={{ csrf_token }}"></script>
      <!--DESPUES PEGAR A TODOS-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script>
        document.getElementById("openChatbot").addEventListener("click", function () {
            document.getElementById("chatbotContainer").classList.remove("hidden");
        });
    
        document.getElementById("closeChatbot").addEventListener("click", function () {
            document.getElementById("chatbotContainer").classList.add("hidden");
        });
    
        document.getElementById("chatForm").addEventListener("submit", async function (e) {
            e.preventDefault();
    
            const userMessage = document.getElementById("userInput").value;
            const chatMessages = document.getElementById("chatMessages");
    
            // Mostrar el mensaje del usuario
            const userBubble = document.createElement("div");
            userBubble.className = "user-message";
            userBubble.innerHTML = '<strong style="color: red;">Usuario:</strong> ' + userMessage;
            chatMessages.appendChild(userBubble);
    
            // Enviar la pregunta al backend
            const response = await fetch("/api/chatbot/", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ message: userMessage }),
            });
    
            const data = await response.json();
    
            // Mostrar la respuesta del chatbot
            const botBubble = document.createElement("div");
            botBubble.className = "bot-message";
            botBubble.innerHTML = '<strong style="color: blue;">Bot:</strong> ' + data.response;
            chatMessages.appendChild(botBubble);
    
            // Limpiar el input
            document.getElementById("userInput").value = "";
            chatMessages.scrollTop = chatMessages.scrollHeight;
        });
        document.getElementById("resetChatbot").addEventListener("click", function () {
            const chatMessages = document.getElementById("chatMessages");
            chatMessages.innerHTML = '';  // Eliminar todos los mensajes
            document.getElementById("userInput").value = '';  // Limpiar el campo de entrada
        });
    </script>
    {% block bloques_js %}{% endblock %}
</body>
</html>
